{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Movie Ratings{% endblock %}</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "Home" %}</a> |

    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
    <br>

    <h4>Top Tenty Movies by Genre</h4>

    <a href="/movie_lens_online/top/Action">{% trans "Action" %}</a> |
    <a href="/movie_lens_online/top/Adventure">{% trans "Adventure" %}</a> |
    <a href="/movie_lens_online/top/Animation">{% trans "Crime" %}</a> |
    <a href="/movie_lens_online/top/Childrens">{% trans "Childrens" %}</a> |
    <a href="/movie_lens_online/top/Comedy">{% trans "Comedy" %}</a> |
    <a href="/movie_lens_online/top/Crime">{% trans "Crime" %}</a> |
    <a href="/movie_lens_online/top/Documentary">{% trans "Documentary" %}</a> |
    <a href="/movie_lens_online/top/Drama">{% trans "Drama" %}</a> |
    <a href="/movie_lens_online/top/Fantasy">{% trans "Fantasy" %}</a> |
    <a href="/movie_lens_online/top/FilmNoir">{% trans "FilmNoir" %}</a> |
    <a href="/movie_lens_online/top/Horror">{% trans "Horror" %}</a> |
    <a href="/movie_lens_online/top/Musical">{% trans "Musical" %}</a> |
    <a href="/movie_lens_online/top/Mystery">{% trans "Mystery" %}</a> |
    <a href="/movie_lens_online/top/Romance">{% trans "Romance" %}</a> |
    <a href="/movie_lens_online/top/SciFi">{% trans "SciFi" %}</a> |
    <a href="/movie_lens_online/top/Thriller">{% trans "Thriller" %}</a> |
    <a href="/movie_lens_online/top/War">{% trans "War" %}</a> |
    <a href="/movie_lens_online/top/Western">{% trans "Western" %}</a> |

    <hr />
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>
